.klavier {
  display: grid;
  gap: 1px;
  position: relative;
}

.whiteKey {
  background-color: #fff;
  aspect-ratio: 23 / 150;
  grid-column: var(--grid-column-start) / span 12;
  grid-row: 1 / span 1;
  border: 1px solid #000;
  border-radius: 0 0 2px 2px;
  user-select: none;

  &:global(.active) {
    background-color: red;
  }
}

.blackKey {
  background-color: #000;
  position: relative;
  aspect-ratio: 15 / 100;
  grid-column: var(--grid-column-start) / span 8;
  grid-row: 1 / span 1;
  border-radius: 0 0 2px 2px;
  user-select: none;

  &:global(.active) {
    background-color: red;
  }
}
